// src/styles/components/todo-input.scss
@import '../_variables';

.todo-input {
  display: flex;
  margin-bottom: $spacing;

  &__field {
    flex: 1;
    padding: $spacing / 2;
    border: 1px solid lighten($primary-color, 40%);
    border-radius: 4px 0 0 4px;
    outline: none;
  }

  &__btn {
    padding: $spacing / 2 $spacing;
    background: $primary-color;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }
}
