// src/components/TodoInput/TodoInput.scss
@import "../../styles/variables";

.container {
  display: flex;
  margin-bottom: $spacing;

  .field {
    flex: 1;
    padding: $spacing / 2;
    border: 1px solid lighten($primary-color, 40%);
    border-radius: 4px 0 0 4px;
    outline: none;
  }

  .btn {
    padding: $spacing / 2 $spacing;
    background: $primary-color;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }
}

@media (width <= 400px) {
  .field {
    font-size: 0.9rem;
  }

  .btn {
    padding: $spacing / 3 $spacing / 1.5;
  }
}
