// src/components/TodoInput/TodoInput.scss

@use '../../styles/variables' as vars;
@use 'sass:math';
@use 'sass:color' as color;

.container {
  display: flex;
  margin-bottom: vars.$spacing;

  .field {
    flex: 1;
    padding: math.div(vars.$spacing, 2);
    border: 1px solid color.adjust(vars.$primary-color, $lightness: 40%);
    border-radius: 4px 0 0 4px;
    outline: none;
  }

  .btn {
    padding: math.div(vars.$spacing, 2) vars.$spacing;
    background: vars.$primary-color;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;

    &:hover {
      background: color.adjust(vars.$primary-color, $lightness: -10%);
    }
  }
}

@media (width <= 400px) {
  .field {
    font-size: 0.9rem;
  }

  .btn {
    padding: math.div(vars.$spacing, 3) math.div(vars.$spacing, 1.5);
  }
}